body 
{
  width:350px;
  overflow: hidden;
  font-family: 'Droid Sans', sans-serif;
}
button
{
  font-family: 'Droid Sans', sans-serif;
}

.alert
{
  border-radius:0px !important;
}

.btn
{
  border-radius:0px !important;
}

/*Popup*/
.contentHolder
{
  overflow:hidden;
  width: 700px;
  position: relative;
  left:0;
  top: 0;
  -webkit-transition:left 0.25s ease-out;
}

#showList, #searchResults
{
  position:relative;
  width: 350px;
}

#showList
{
  top: 0;
  left: 0;
}

#searchResults
{
  top:0;
  left:350px;
}

div#progressIndicatorDiv>div
{
  width: 60%;
  margin-left:auto;
  margin-right: auto; 
  margin-top:20px; 
  min-width:150px;
}

.form-search
{
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  height: 36px;
  background: #E68044;
  border-bottom: solid 1px #9B4635;
  position: absolute;
  -webkit-transition:opacity 0.25s ease-out, top 0.25s ease-out;
}

.form-search>ul
{
  text-align: left;
  width: 73%;
}

.hiddenSearch
{
  opacity: 0.0;
  top: -40px;
}

.searchField
{
  width: 72%;
  border-radius:0 !important; 
  box-shadow: none !important;
  border: solid 1px #9B4635 !important;
  height: 36px;
  margin-top: 3px;
}

#searchBtn
{
  border-radius:0 !important; 
  box-shadow: none !important; 
  border: none !important;
  background: #9B4635 !important;
  margin-left: -5px;
  height: 30px;
  width: 40px;
  margin-top: 3px;
}

.topToolbar
{
  width: 100%;
  background: #E68044;
  border-bottom: solid 1px #9B4635;
  height: 36px;
}

.toolbarItem
{
  margin-top:6px;
}

.toolbarItem:hover
{
  -webkit-animation-name: scale; 
  -webkit-animation-duration: 0.25s; 
  -webkit-animation-timing-function: ease-in;
}

.toolbarItemHolder
{
  background: #9B4635;
  height:30px;
  width: 30px;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  -webkit-transition:all 0.25s ease-out;
  text-align: center;
}

.hiddengobackholder
{
  width: 0px;
  margin-left:0px;
  margin-right: 0px;
  pointer-events:none;
}
.hiddengobackholder>i
{
  width: 0px;
}
#infoPanel
{
  opacity:0;
  position:absolute; 
  top:38px; 
  width:295px; 
  height:auto; 
  overflow-y:auto; 
  left:-350px;
  -webkit-transition:left 0.25s ease-out, opacity 0.25s ease-out;
}

.statusIndicator
{
  float:right;
  margin-right:15px;
  -webkit-transition:-webkit-transform 0.25s ease-out;
}

.statusIndicatorOpen
{
  -webkit-transform:rotate(180deg);
}

.showTitle
{
  margin-left:10px;
}

.showCover
{
  height:60px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  float:left;
}

.seasonTitle
{
  margin-left:15px;
}

.show
{
  width:100%;
  background: #E68044;
  height:70px;
  line-height: 70px;
  border-bottom: solid 1px #9B4635;
  color:white;
}

.season
{
  width:100%;
  cursor:default; 
  background: #EA6146;
  height:32px;
  line-height: 32px;
  border-bottom: solid 1px #9B4635;
  color:white;
}

.episode
{
  padding-left:20px;
  background:white;
  cursor:pointer;
  height:28px;
  line-height: 28px;
  border-bottom: solid 1px #9B4635;
  color:#EE4348;
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.newArrival
{
  color:#00597F;
  font-weight: bold;
}

.episodeContainer
{
  width:100%;
  display:none;
}

.seasonContainer
{
  width:100%;
  display:none;
}

/*Preferences Page*/
div#preferencesPageRootDiv
{
  margin-left: auto; 
  margin-right: auto; 
  width: 900px; 
  border: 1px solid #9B4635; 
  margin-top: 20px; 
  height: auto; 
  background-color:rgba(230,128,68,1.0); 
  padding-bottom:20px;
  padding-top: 20px;
  color: white;
}

div#preferencesPageIcon
{
  margin:20px;
  text-align: center;
}

div#preferencesPageIcon>img
{
  width:60px;
  height:60px;
}

table#preferencesTable
{
  margin-right:auto; 
  margin-left:auto;
}

table#preferencesTable, td
{
  padding:5px;
}

input#timeValue
{
  width:70px;
  text-align:right;
}

p.lastUpdated
{
  text-align:center;
  font-size:11px;
}

p.lastUpdatedError
{
  text-align:center;
  font-size:10px;
  color:red;
}

#alertBox
{
  pointer-events:none; 
  opacity:0; 
  position:absolute; 
  top:42px; 
  width:309px; 
  height:auto; 
  overflow-y:auto; 
  -webkit-transition:left 0.25s ease-out, opacity 0.25s ease-out; 
  text-align:center;
}

@-webkit-keyframes rotate 
{
    from 
    {
        -webkit-transform: rotate(0deg);
    }
    to 
    { 
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes scale 
{
    from 
    {
        -webkit-transform: scale(1.0);
    }
    to 
    { 
        -webkit-transform: scale(1.5);
    }
}

.icon-refresh-rotate 
{
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

a
{
  color: rgb(128,0,0);
}

a:hover
{
  color: rgb(200,0,0);
}

::-webkit-scrollbar
{ 
  width: 8px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 4px rgba(120,120,120,1); 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(155,70,53,1); 
  border-radius: 0px;
/*-webkit-box-shadow: inset 0 0 8px rgba(255,255,255,1); */
}