body 
{
  min-width:464px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
button
{
  font-family: 'Open Sans', sans-serif;
}

/*Popup*/
div#progressIndicatorDiv>div
{
  margin-left:103px; 
  margin-top:20px; 
  width:150px;
}

.icon-search
{
  position: absolute;
  top: 8px;
  left: 0px;
  -webkit-transition: left ease-out 0.25s;
}

.icon-search-right
{
  left:446px !important;
}

.form-search
{
  position:absolute;
  top: 0;
  left: 0;
}

.searchField
{
  -webkit-transition:width ease-out 0.25s, opacity ease-out 0.25s !important;
  width:450px;
  opacity: 1;
  pointer-events:all;
}

.hiddenSearch
{
  width:0px !important;
  opacity: 0 !important;
  pointer-events:none !important;
}

::-webkit-scrollbar
{ 
  width: 6px;

}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 4px rgba(120,120,120,1); 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0,0,0,1); 
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 8px rgba(255,255,255,1); 
}

.showDiv
{
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin:5px;
  float:left;
  border:1px solid gray;
}

.showCover,.showName,.showDiv
{
  width:220px;
}

.showDiv,.showName
{
  height: 103px;
}

.showName
{
  position:absolute;
  bottom:-103px;
  background: rgba(255,255,255,0.7);
  color: rgb(0,0,0);
  font-size:14px;
  -webkit-transition:bottom ease-out 0.25s;
}

.holderDiv
{
  position:relative;
}

/*Preferences Page*/
div#preferencesPageRootDiv
{
  margin-left: auto; 
  margin-right: auto; 
  width: 900px; 
  border: 1px solid #666666; 
  margin-top: 20px; 
  height: auto; 
  box-shadow: 0px 4px 20px #666666; 
  border-radius: 4px; 
  background-color:rgba(200,200,200,0.1); 
  padding-bottom:20px;
}

div#preferencesPageIcon
{
  margin:20px;
  text-align: center;
}

div#preferencesPageIcon>img
{
  width:60px;
  height:60px;
}

table#preferencesTable
{
  margin-right:auto; 
  margin-left:auto;
}

table#preferencesTable, td
{
  padding:5px;
}

input#timeValue
{
  width:70px;
  text-align:right;
}

p.lastUpdated
{
  text-align:center;
  font-size:11px;
}

p.lastUpdatedError
{
  text-align:center;
  font-size:10px;
  color:red;
}

#alertBox
{
  pointer-events:none; 
  opacity:0; 
  position:absolute; 
  top:42px; 
  width:309px; 
  height:auto; 
  overflow-y:auto; 
  -webkit-transition:left 0.25s ease-out, opacity 0.25s ease-out; 
  text-align:center;
}

@-webkit-keyframes rotate 
{
    from 
    {
        -webkit-transform: rotate(0deg);
    }
    to 
    { 
        -webkit-transform: rotate(360deg);
    }
}

.icon-refresh-rotate 
{
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

a
{
  color: rgb(128,0,0);
}

a:hover
{
  color: rgb(200,0,0);
}