<!-- /*
 * Author
 * Ameya Zambre
 * ameyazambre@gmail.com
 */ -->
 <!doctype html>
 <html ng-app="plunker" ng-csp>
 <head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/monitorStylesheet.css">
  <title>Einthusan Monitor Preferences</title>
</head>
<body style="width:auto;">
  <div id='preferencesPageRootDiv'>
    <div style="text-align:right;padding-right:5px;">
      <i class="icon-exclamation-sign"></i>
      <a href="https://chrome.google.com/webstore/support/khhfpiaglmihaifnfocggdmifdeigkhg" style="font-family:Open Sans, sans-serif; font-size:12px;" target="blank">Report Bug/Suggest Feature</a>
    </div>
    <!-- <div id='preferencesPageIcon'>
      <img src='icon128.png'></img>
    </div> -->
    <table id="preferencesTable">
      <tr>
        <td>
          <label class="control-label">TV Show notification preferences:</label>
        </td>
        <td>
          <div ng-controller="AlertDemoCtrl" style = 'margin-left:20px;'>
            <input id="tvShowList" type="text" placeholder="TV Show name" data-provide="typeahead" style = 'margin-left:20px;' autocomplete="off" x-webkit-speech speech>
            <button class='btn' ng-click="addAlert()" style = 'position:absolute'>Add TV Show</button>
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" style = 'margin-left:20px; margin-bottom:5px;'>{{alert.msg}}</alert>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Refresh Interval:</label>
        </td>
        <td>
          <div class="input-append controls" style = 'margin-left:40px;'>
            <input class="span2" id="timeValue" type="text">
            <div class="btn-group">
              <button id='selectedTimeUnit' class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Hours</a></li>
                <li><a href="#">Minutes</a></li>
                <li><a href="#">Seconds</a></li>
              </ul>
            </div>
          </div>
          <span class="help-inline">Refresh interval for the movies data</span>
        </td>
      </tr>
    </table>
    <div style="text-align:center;">
      <i class="icon-refresh" style=""></i>
      <p class="lastUpdated"></p>
    </div>
  </div>
</body>
<footer>
  <script src="js/jquery-2.0.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="options.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
  <script src="js/tvshow-pref.js"></script>
</footer>
</html>